#main_container {
    background-color: rgba(27, 110, 244, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    overflow: hidden
}

body {
    padding: 20px;
    color: white;
}

#hour_column {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.btn-primary {
    background-color: rgba(27, 110, 244, 0.3);
    backdrop-filter: blur(50px);
    border: none;
}

.form-control {
    background-color: rgba(27, 110, 244, 0.3);
    backdrop-filter: blur(50px);
    border: none;
}

.form-control::placeholder {
    color: white;
}